<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">03 : About me</h1>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h3>Education</h3>
                <!-- <hr /> -->
                <h3 style="font-size:1.3em;">Nanyang Technological University, Singapore</h3>
                <h4>Bachelor of Engineering (Materials Engineering) with Honours (Distinction) Specialisation in Industrial Materials Engineering</h4>
                <p>GEM Explorer with Korea Advanced Institute of Science and Technology University CGPA: 4.16/5.00 (Second Upper Class)</p>

                <h3>Working Experience</h3>
                <!-- <hr/> -->
                <p>Working as a fulltime <b>software developer</b> in 3e Accounting Pte Ltd Singapore from July 2020 to present. Help developing HRMS software and Financial software from various requirement of internal HR and accountants.
                <br>
                <h3>Self-learning</h3>
                <!-- <hr> -->
                <p>
                    Highly driven and motivated in learning lessons from Udemy especially ZMT Acedemy. <br>
                    Lessons have been done, "Complete python developer", "JavaScript Web Project", "Complete Web Development Bootcamp". <br>
                    Currenly on going lesson, "Ethical Hacking" and "ReactJs and NodeJs".
                </p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="./static/assets/images/profile.jpeg" class="img-responsive black-image" alt="">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
<script type="text/javascript" src="./static/script.js"></script>
</body>
