<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <meta content="description" name="description" />
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png" />
  <link href="./static/assets/apple-icon-180x180.png" rel="icon" />

  <title>Title page</title>

  <!-- CSS stylesheet -->
  <link href="/static/style.css" rel="stylesheet" />
  <link href="/static/portfo.css" rel="stylesheet" />

  <!-- AngularJs script -->
  <script src="/static/js/angular.min.js" charset="utf-8"></script>
  <script src="/static/js/angular-route.min.js" charset="utf-8"></script>
  <script src="/static/js/app.js" charset="utf-8"></script>

  <!-- jQuery -->
  <script src="/static/js/jquery.min.js" charset="utf-8"></script>

  <!-- Other Script -->
  <script src="./static/script.js"></script>
  <script src="/static/js/portfo.js" charset="utf-8"></script>

</head>

<body class="minimal" ng-app="PortfoApp">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  <header>
    <nav id="navbar" class="navbar  navbar-fixed-top navbar-inverse">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul id="mainNav" class="nav navbar-nav ">
            <li><a href="#!" title="home">01 : Home</a></li>
            <li><a href="#!projects" title="works">02 : Projects</a></li>
            <li><a href="#!about" title="about">03 : About me</a></li>
            <li><a href="#!contact" title="contact">04 : Contact</a></li>
            <!-- <li><a href="#!components" title="">05 : Components</a></li> -->
          </ul>

          <ul id="projectsNav" class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="#!travel" title="">001</a></li>
            <li><a href="#!website-template" title="">002</a></li>
            <li><a href="#!video-collection" title="">003</a></li>
            <li><a href="#!work" title="">004</a></li>
            <li><a href="#!work" title="">005</a></li>
            <li><a href="#!work" title="">006</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <ng-view></ng-view>

  <footer id="footer" class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© CSHUNYEE | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
